<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>Click from the following to review answers to these frequently asked questions.</p>

<h2>Latest Updates</h2>
<ul>
   <li>Meeting #2 agenda available (posted XX-Mon-YYYY)</li>
   <li>Meeting #1 summary available (posted XX-Mon-YYYY)</li>
   <li><Chemical Medicines 1 Expert Committee Ballot results updated (posted XX-Mon-YYYY)</li>
</ul>

<h2>Focus Areas</h2>
<ul>  
   <li>Antibiotic, antiviral, and antimicrobial drug substance and drug product monographs</li>
   <li>Selected general chapters that pertain to the antibiotics and antimicrobial monographs</li>
</ul>

<h2>Expert Committee Charge</h2>
<p>The Monographs–Chemical Medicines 1 Expert Committee is responsible for the development and revision of USP-NF monographs and their associated USP Reference Standards in the following therapeutic categories: Antibiotics, Antimicrobials and Antivirals…</p>
   
<h2>Key Issues</h2>
<ul>
   <li>Work with other Chemical Medicines Expert Committees, FDA and stakeholders to improve existing over-the-counter (OTC monographs) and develop new OTC product monographs</li>
   <li>Convert microbial assays to HPLC assays</li>
</ul>



<h4><a class="toggle-switch" href="#" id="rs-readmore1">Roster and USP Staff Contacts</a></h4>
<div id="rs-readmore1-container">
	<p>List of people go here</p>
</div>




<h2>Subgroups and Expert Panels</h2>
<ul>
   <li>Subcommittee A (Antibiotics)</li>
   <li>Subcommittee B (Antiviral and Antimicrobial A-L)</li>
   <li>Subcommittee C (Antiviral and Antimicrobial  M-Z)</li>
   <li>Modernization of Microbial Assays Expert Panel</li>
</ul>

<h2>Ballot Results and Standards-Development</h2>
<ul>
   <li><a href="#">Approvals, Deferrals, and Cancellations of this Expert Committee</a> (updated December 28, 2015)</li>
   <li><a href="#">Standards in Current Public Comment</a></li>   
   <li><a href="#">Search for EC responsible for standard</a></li>
</ul>
   
<h2>Upcoming Official Meetings</h2>
<ul>
   <li><a href="#">Meeting #2: May 1, 2016</a></li>
</ul>
  
<h2>Past Meetings &mdash; Executive Summaries</h2>
<ul>
   <li><a href="#">Meeting #1: November 1, 2015</a></li>
</ul>